<!DOCTYPE html>
<html>
  <head>
    <title>PharmDs in IT</title>
    <%= csrf_meta_tags %>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="<%= asset_path 'favicon.ico' %>">

    <!-- Main JavaScript for Webpack, updated for Shakapacker v8 -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Add Google Fonts link  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body style="margin:0;padding:0">
    <!-- Global container for the React app -->
    <div id="app-container">
      <!-- React component NavBar is rendered here, wrapped by ThemeProvider -->
      <%= react_component("NavBar") %>


      <!-- Containers for dynamically loaded components -->
      <div id="directory-container"></div> <!-- For DirectoryBundle -->

      <!-- SearchPage content (or other content based on routes) will be injected here -->
      <%= yield %>
    </div>
  </body>
</html>
