<!DOCTYPE html>
<html>
  <head>
    <title>PharmDs in IT</title>
    <%= csrf_meta_tags %>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="<%= asset_path 'favicon.ico' %>">

    <!-- Main JavaScript for Webpack -->
    <%= javascript_pack_tag 'application' %> 
    
    <!-- Add Google Fonts link  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">



    </head>
    <body data-controller="<%= controller_name %>" data-action="<%= action_name %>" style="margin: 0;">
    <div id="app-container"></div>
    <div id="directory-container"></div> <!-- For DirectoryBundle -->
    <div id="search-container"></div>    <!-- For SearchPageBundle -->
    <%= yield %>
     </body>  
</html>
